In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime

In [3]:
#Read training data
df_train = pd.read_csv('./train_milk_nozero.csv')

C:\Users\Lihen\.conda\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df_test = pd.read_csv('./test_milk.csv')
df_test.shape

(6692, 21)

In [5]:
#Check weekday & workday
#holidays連假的平常日
#workdays連假的補班日
#momno= {''}
#makeupworkdays = {'2016-06-04', '2016-09-10', '2017-02-18'}

In [6]:
len(df_train)

33185

In [7]:
df_train.head()

,ID,資料年度,資料月份,酪農場代號,乳牛編號,父親牛精液編號,母親乳牛編號,出生日期,胎次,泌乳天數,...,最近分娩日期,採樣日期,月齡,檢測日期,最後配種日期,最後配種精液,配種次數,前次分娩日期,第一次配種日期,第一次配種精液
0,1,2013/3/1,3,A,52612,507H7173,96040545,2011/1/1 00:00,1,78,...,2013/1/1,2013/3/20,26,2013/3/21 00:00,2015/5/5 00:00,507H11621,1,NaN,2013/3/5 00:00,501H8784
1,2,2013/4/1,4,A,52612,507H7173,96040545,2011/1/1 00:00,1,107,...,2013/1/1,2013/4/18,27,2013/4/19 00:00,2015/5/5 00:00,507H11621,1,NaN,2013/3/5 00:00,501H8784
2,3,2013/5/1,5,A,52612,507H7173,96040545,2011/1/1 00:00,1,140,...,2013/1/1,2013/5/21,28,2013/5/22 00:00,2015/5/5 00:00,507H11621,2,NaN,2013/3/5 00:00,501H8784
3,4,2013/6/1,6,A,52612,507H7173,96040545,2011/1/1 00:00,1,175,...,2013/1/1,2013/6/25,29,2013/6/26 00:00,2015/5/5 00:00,507H11621,2,NaN,2013/3/5 00:00,501H8784
4,5,2013/7/1,7,A,52612,507H7173,96040545,2011/1/1 00:00,1,210,...,2013/1/1,2013/7/30,30,2013/7/31 00:00,2015/5/5 00:00,507H11621,2,NaN,2013/3/5 00:00,501H8784

In [8]:
#Declare weekday & workday
summer = np.ones((len(df_train),), dtype=int)
winter = np.ones((len(df_train),), dtype=int)
#dfoursix = np.ones((len(df_train),), dtype=int)

In [9]:
#Compute weekday & workday
#weekday()
#0 == Monday, #1 == Tuesday, #2 == Wednesday,  #3 == Thursday,  #4 == Friday,  #5 == Saturday, #6 == Sunday
"""
for index, row in df_train.iterrows():
  dd1=datetime.strptime(row['12'], "%Y/%m/%d")
  dd2=datetime.strptime(row['13'], "%Y/%m/%d")
  ddcount = str(dd2-dd1)
  ddcount = re.findall(r"\d+\.?\d*",ddcount)
  ddcount = int(ddcount[0])
"""
for index, row in df_train.iterrows():
    if row['資料月份']>=6 and row['資料月份'] <= 9:
        summer[index] = 0
    elif row['資料月份']>=11 and row['資料月份'] <= 12 or row['資料月份'] == 1:
        winter[index] = 0
  #elif row['胎次']==1:
    #if row['泌乳天數']==46:
      #dfoursix[index] = 0
#for index, row in df_train.iterrows():
  #if row['胎次']==1:
    #if row['泌乳天數']==46:
      #dfoursix[index] = 0

In [10]:
#Build a new dataframe from the training data"資料月份","酪農場代號","最後配種精液",
RawX = pd.DataFrame(df_train[["酪農場代號","乳牛編號","胎次","泌乳天數","月齡","配種次數"]])
RawX['summer'] = summer
RawX['winter'] = winter
#RawX['d46'] = dfoursix

In [11]:
#See the raw input data
RawX
#RawX['最後配種精液'] = RawX['最後配種精液'].fillna(0)
#RawX

      酪農場代號      乳牛編號  胎次  泌乳天數   月齡  配種次數  summer  winter
0         A     52612   1    78   26     1       1       1
1         A     52612   1   107   27     1       1       1
2         A     52612   1   140   28     2       1       1
3         A     52612   1   175   29     2       0       1
4         A     52612   1   210   30     2       0       1
...     ...       ...  ..   ...  ...   ...     ...     ...
33180     C  93184912   8    12  130     0       1       0
33181     C  93184912   8   137  134     0       1       1
33182     C  93184912   8   168  135     0       0       1
33183     C  93184912   8   197  136     0       0       1
33184     C  93184912   8   229  137     0       0       1

[33185 rows x 8 columns]

In [12]:
#Declare weekday & workday"資料月份","酪農場代號",
summer1 = np.ones((len(df_test),), dtype=int)
winter1 = np.ones((len(df_test),), dtype=int)
#dfoursix1 = np.ones((len(df_test),), dtype=int)

In [14]:
#for index, row in df_test.iterrows():
"""
  dd1=datetime.strptime(row['12'], "%Y/%m/%d")
  dd2=datetime.strptime(row['13'], "%Y/%m/%d")
  ddcount = str(dd2-dd1)
  ddcount = re.findall(r"\d+\.?\d*",ddcount)
  ddcount = int(ddcount[0])
"""
for index, row in df_test.iterrows():
    if row['資料月份']>=6 and row['資料月份'] <= 9:
        summer1[index] = 0
    elif row['資料月份']>=11 and row['資料月份'] <= 12 or row['資料月份'] == 1:
        winter1[index] = 0
#for index, row in df_test.iterrows():
    #if row['胎次']==1:
      #if row['泌乳天數']==46:
        #dfoursix1[index] = 0

In [15]:
Test = pd.DataFrame(df_test[["酪農場代號","乳牛編號","胎次","泌乳天數","月齡","配種次數"]])
Test['summer1'] = summer1
Test['winter1'] = winter1
#Test['d461'] = dfoursix1
Test

     酪農場代號      乳牛編號  胎次  泌乳天數   月齡  配種次數  summer1  winter1
0        A     52631   4   435   94     6        1        0
1        A     52640   4    13   94     0        1        1
2        A     52640   4    35   95     1        1        1
3        A     52640   4    70   96     1        1        1
4        A     52640   4    98   97     1        1        1
...    ...       ...  ..   ...  ...   ...      ...      ...
6687     C  99183193   8    44  113     0        1        1
6688     C  99183209   6   323  111     4        1        1
6689     A  98051981   4   189  122     1        1        0
6690     A  97051427   6    71  138     0        1        0
6691     A  98051971   8     6  126     0        1        0

[6692 rows x 8 columns]

In [16]:
Test1 = pd.DataFrame
Test1 = Test
Test1 = Test1.rename(columns={'summer1':'summer'})
Test1 = Test1.rename(columns={'winter1':'winter'})
#Test1 = Test1.rename(columns={'d461':'d46'})

In [17]:
dfenc = pd.DataFrame
dfenc = pd.concat([RawX, Test1], axis=0)
dfenc

     酪農場代號      乳牛編號  胎次  泌乳天數   月齡  配種次數  summer  winter
0        A     52612   1    78   26     1       1       1
1        A     52612   1   107   27     1       1       1
2        A     52612   1   140   28     2       1       1
3        A     52612   1   175   29     2       0       1
4        A     52612   1   210   30     2       0       1
...    ...       ...  ..   ...  ...   ...     ...     ...
6687     C  99183193   8    44  113     0       1       1
6688     C  99183209   6   323  111     4       1       1
6689     A  98051981   4   189  122     1       1       0
6690     A  97051427   6    71  138     0       1       0
6691     A  98051971   8     6  126     0       1       0

[39877 rows x 8 columns]

In [18]:
#Use OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')

In [19]:
#df_train.fillna(0)
enc.fit(dfenc)

OneHotEncoder(categorical_features=None, categories=None, drop=None,
              dtype=<class 'numpy.float64'>, handle_unknown='ignore',
              n_values=None, sparse=True)

In [20]:
#Build encoder
#RawX.fillna(0,inplace=True)
#enc.fit(RawX)
enc.transform(RawX)
enc.categorical_features

In [21]:
#Transform data into one hot vector
X = enc.transform(RawX).toarray()
X.shape

(33185, 3116)

In [22]:
#See the cooked input data
X[0:3, :]

array([[1., 0., 0., ..., 1., 0., 1.],
       [1., 0., 0., ..., 1., 0., 1.],
       [1., 0., 0., ..., 1., 0., 1.]])

In [23]:
#Resize y into (0,1)
y = df_train["乳量"].values/51
y.shape

(33185,)

In [24]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Input, Dense, Activation, Dropout

WARNING:tensorflow:From C:\Users\Lihen\.conda\envs\tensorflow\lib\site-packages\tensorflow\python\compat\v2_compat.py:61: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [25]:
# create and fit a Baseline Neural Network Model
model = Sequential()
model.add(Dense(19456, activation='relu', input_dim=3116))
model.add(Dense(units=10240, activation='softmax'))
model.add(Dropout(0.5))
model.add(Dense(1))

WARNING:tensorflow:From C:\Users\Lihen\.conda\envs\tensorflow\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [26]:
model.compile(loss='mse', optimizer='adam')
model.fit(X, y, epochs=300, batch_size=4096, verbose=1)

Epoch 1/300

ResourceExhaustedError: 2 root error(s) found.
  (0) Resource exhausted: OOM when allocating tensor with shape[4096,10240] and type float on /job:localhost/replica:0/task:0/device:GPU:0 by allocator GPU_0_bfc
	 [[{{node dropout/cond/dropout/Cast}}]]
Hint: If you want to see a list of allocated tensors when OOM happens, add report_tensor_allocations_upon_oom to RunOptions for current allocation info.

	 [[loss/mul/_65]]
Hint: If you want to see a list of allocated tensors when OOM happens, add report_tensor_allocations_upon_oom to RunOptions for current allocation info.

  (1) Resource exhausted: OOM when allocating tensor with shape[4096,10240] and type float on /job:localhost/replica:0/task:0/device:GPU:0 by allocator GPU_0_bfc
	 [[{{node dropout/cond/dropout/Cast}}]]
Hint: If you want to see a list of allocated tensors when OOM happens, add report_tensor_allocations_upon_oom to RunOptions for current allocation info.

0 successful operations.
0 derived errors ignored.

In [0]:
df_test = pd.read_csv('test_milk.csv')
df_test.shape

(6692, 21)

In [0]:
#Declare weekday & workday"資料月份","酪農場代號",
summer1 = np.ones((len(df_test),), dtype=int)
winter1 = np.ones((len(df_test),), dtype=int)
dfoursix1 = np.ones((len(df_test),), dtype=int)

In [0]:
#for index, row in df_test.iterrows():
  """
  dd1=datetime.strptime(row['12'], "%Y/%m/%d")
  dd2=datetime.strptime(row['13'], "%Y/%m/%d")
  ddcount = str(dd2-dd1)
  ddcount = re.findall(r"\d+\.?\d*",ddcount)
  ddcount = int(ddcount[0])
  """
for index, row in df_test.iterrows():
    if row['資料月份']>=6 and row['資料月份'] <= 9:
      summer1[index] = 0
    elif row['資料月份']>=11 and row['資料月份'] <= 12 or row['資料月份'] == 1:
      winter1[index] = 0
for index, row in df_test.iterrows():
    if row['胎次']==1:
      if row['泌乳天數']==46:
        dfoursix1[index] = 0

In [0]:
Test = pd.DataFrame(df_test[["酪農場代號","乳牛編號","胎次","泌乳天數","月齡","配種次數"]])
#Test['summer1'] = summer1
#Test['winter1'] = winter1
#Test['d461'] = dfoursix1
Test

     酪農場代號      乳牛編號  胎次  泌乳天數   月齡  配種次數
0        A     52631   4   435   94     6
1        A     52640   4    13   94     0
2        A     52640   4    35   95     1
3        A     52640   4    70   96     1
4        A     52640   4    98   97     1
...    ...       ...  ..   ...  ...   ...
6687     C  99183193   8    44  113     0
6688     C  99183209   6   323  111     4
6689     A  98051981   4   189  122     1
6690     A  97051427   6    71  138     0
6691     A  98051971   8     6  126     0

[6692 rows x 6 columns]

In [0]:
Xtest = enc.transform(Test).toarray()
Xtest.shape

In [0]:
yt = model.predict(Xtest)*51

In [0]:
plt.plot(yt)

In [0]:
df_result = pd.read_csv('submission.csv')
df_result['1'] = pd.DataFrame(yt)

In [0]:
df_result.to_csv('submission.csv',index = False)